@use '@ui/styles/wrapper' as *;

:root {
  --color-accent: #c0e0dc;
  --color-background-primary: #fdfbf8;
  --color-background-secondary: #243c54;

  --border-radius-small: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  @extend %wrapper;
}
